@import '../../../../overseas/style/base.less';
@import './_var.less';
@import './_mixin.less';

.@{prefix}-copyright {
  font-size: @copyright-font-size;
  text-align: center;
  line-height: @copyright-line-height;
  color: @copyright-text-color;
}
