@import '../../../../overseas/style/_variables.less';

// copyright 组件专用样式变量
@copyright-font-size: @font-size-s;
@copyright-line-height: @text-line-height-s;
@copyright-text-color: @text-color-disabled;
